<!DOCTYPE html>
<html>
  <head>
    <title>Drum Pad</title>
    <script src='/bundle.js'></script>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <h1 id="main-title">Beat Pad</h1>
      <div id="controls">
        <button id="clear" class="round control">Clear Recording</button>
        <button id="record" class="round control">
          <span>
            <div id="inner-record">
              <p>Record</p>
            </div>
          </span>
        </button>
        <button id="play" class="round control">Playback Audio</button>
      </div>
    </header>
    <div id="sound-pad">
      <button class="sound round" id="basskick">Basskick (0)</button>
      <button class="sound round" id="kick">Kick (1)</button>
      <button class="sound round" id="snare">Snare (2)</button>
      <button class="sound round" id="clap">Clap (3)</button>
      <button class="sound round" id="snap">snap (4)</button>
      <button class="sound round" id="cowbell">Cowbell (5)</button>
      <button class="sound round" id="crash">Crash (6)</button>
      <button class="sound round" id="hat">Hat (7)</button>
      <button class="sound round" id="softhat">Soft Hat (8)</button>
      <button class="sound round" id="coconut">Coconut (9)</button>
    </div>

    <div id="ticker-box">
      <div id = "slider-box">
        <input type="range" id="slider" list="bpms" min="50", max="300", step="50">
        <datalist id="bpms">
          <option value="50"></option>
          <option value="100"></option>
          <option value="150"></option>
          <option value="200"></option>
          <option value="250"></option>
          <option value="300"></option>
        </datalist>
      </div>
      <button id="ticker" class="round control">Metronome</button>
    </div>
    
    <footer>
      <p>&copy; Caleb Thompson</p>
      <div id="sound-links">
        <a href="https://soundpacks.com/free-sound-packs/bryson-tiller-drum-kit/">Bryson Tiller Drum Kit (Free Download) - SoundPacks.com</a>
        <a href="https://soundpacks.com/free-sound-packs/lo-fi-hip-hop-drum-kit/">Lo-Fi Hip-Hop Drum Kit (Free Download) - SoundPacks.com</a>
      </div>
    </footer>
    
  </body>
</html>

