<!DOCTYPE html>
<html>
  <head>
    <title>Drum Pad</title>
    <script src='/bundle.js'></script>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <button class="sound" id="basskick">Basskick (0)</button>
    <button class="sound" id="kick">Kick (1)</button>
    <button class="sound" id="snare">Snare (2)</button>
    <br>
    <button class="sound" id="clap">Clap (3)</button>
    <button class="sound" id="snap">snap (4)</button>
    <button class="sound" id="cowbell">Cowbell (5)</button>
    <br>
    <button class="sound" id="crash">Crash (6)</button>
    <button class="sound" id="hat">Hat (7)</button>
    <button class="sound" id="softhat">Soft Hat (8)</button>
    <br>
    <button class="sound" id="coconut">Coconut (9)</button>
    <br>
    <button id="record">Record</button>
    <br>
    <a href="https://soundpacks.com/free-sound-packs/bryson-tiller-drum-kit/">Bryson Tiller Drum Kit (Free Download) - SoundPacks.com</a>
    <br>
    <a href="https://soundpacks.com/free-sound-packs/lo-fi-hip-hop-drum-kit/">Lo-Fi Hip-Hop Drum Kit (Free Download) - SoundPacks.com</a>
  </body>
</html>

